{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {% block pageTitle %}<title>{% trans "Lushu Map" %}</title>{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static "css/valentine.css" %}">
  <script src="{% static "js/jquery.min.js" %}"></script>
</head>
<body>
  <div class="wechatThumb">
    {% block wechatThumb %}<img src="{% static "img/Logo.png" %}" />{% endblock %}
  </div>

  <div id="tip">
    <p>点击右上角，发送给朋友或是分享到朋友圈。开始收集答案吧！</p>
    <p>tip:可以在【路书】公众账号查看自己的回答哦。</p>
  </div>
  {% block baseBody %}{% endblock %}
</body>
</html>