{% extends "defaultBase.html" %}

{% load i18n %}
{% load wechatTag %}

{% block pageTitle %}<title>{% trans "Recommended Places" %}</title>{% endblock %}

{% block baseBody %}
    <header id="questionHeader">
        <img src="{{ quiz.question.imageUrl }}" />
    </header>
  <div>
      <h1 id="question"><img src="{% wechatAccountHeadImg quiz.quizzer.headimgurl 64 %}"/>{{ quiz.question.question }}</h1>
      <p id="description">{{ quiz.question.description }}</p>
  </div>

    <ul class="list" id="answerList">
        {% if myAnswer %}
        <li>
            <img src="{% wechatAccountHeadImg account.headimgurl 46 %}">
            <div class="answerContent">
                <h2><a href="#">{{ account.nickname }}</a><span>{{ myAnswer.created|date:'m-d H:i' }}</span></h2>
                <p>【{{ myAnswer.answer }}】{{ myAnswer.description }}</p>
            </div>
            <div class="love">
                <img src="/static/img/love.jpg"/>
                <p>{{ myAnswer.liked }}</p>
            </div>
        </li>
        <li class="dividing"><span>他们推荐的</span></li>
        {% endif %}
        {% if answers %}
            {% for answer in answers %}
            {% if not myAnswer or answer.id != myAnswer.id %}
            <li>
                <img src="{% wechatAccountHeadImg answer.answerer.headimgurl 46 %}">
                <div class="answerContent">
                    <h2><a href="#">{{ answer.answerer.nickname }}</a><span>{{ answer.created|date:'m-d H:i' }}</span></h2>
                    <p>【{{ answer.answer }}】{{ answer.description }}</p>
                </div>
                <div class="love">
                    {% if not answer.alreadyLiked %}
                        <img src="/static/img/love.jpg" onClick="likeAnswer({{ answer.id }});" />
                    {% else %}
                        <img src="/static/img/love.jpg"/>
                    {% endif %}
                    <p id="liked-{{ answer.id }}" >{{ answer.liked }}</p>
                </div>
            </li>
            {% endif %}
            {% endfor %}
    </ul>

{% endif %}
<div id="blank"></div>
<div id="sideBar">
    <button onclick="window.open('/')" >我还要问</button><button onclick="$('#tip').fadeIn();" >分享</button>
</div>

    <script>
      function likeAnswer(answerId) {
          $.ajax({
            type: "get",
            url: "{% url "Lushu_Mini.views.ajLikeAnswer" "0000000" %}".replace("0000000", answerId),
            cache: false,
            dataType: "json",
            success: function(data){
              if (!data.success) {
                alert(data.result.errMsg);
              }
              else {
                $("#liked-" + answerId).text(data.result.liked);
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              alert(errorThrown);
            }
          });
      }
    </script>
{% endblock %}