{% extends "defaultBase.html" %}

{% load i18n %}
{% load tz %}
{% load wechatTag %}

{% block pageTitle %}<title>{{ question.question }}点击推荐！</title>{% endblock %}

{% block wechatThumb %}<img src="{{ question.imageUrl }}" />{% endblock %}

{% block baseBody %}
    <header id="questionHeader">
        <img src="{{ question.imageUrl }}" />
    </header>
    <div>
        <h1 id="question"><img src="{% wechatAccountHeadImg quizzer.headimgurl 64 %}"/>{{ question.question }}</h1>
        <p id="description">{{ question.description }}</p>
    </div>
    <div>
        {% if account.id == quizzer.id %}
          <div id="GuideBox">
          {% if answered %}
            <p class="haveAnswer">已经有<b>{{ answered }}</b> {% trans "Answers" %}</p>
            <p><a  class="longButton" href="{% url "Lushu_Mini.views.viewAnswers" quizId %}">{% trans "Go Checkout" %}</a></p>
          {% else %}
            {% if not followed %}

              <p><a href="#" class="longButton">{% trans "Follow us and share your question to gather answers from your friends" %}</a></p>
            {% endif %}
            <div id="tip">
                <p>点击右上角，发送给朋友或是分享到朋友圈。开始收集答案吧！</p>
                <p>tip:可以在【路书】公众账号查看自己的回答哦。</p>
            </div>
            <p><a id="share" class="longButton" >{% trans "Share and invite your friends to answer." %}</a></p>
          {% endif %}
          </div>
        {% else %}
          {% if answerer and answer and answerer.id != account.id %}
            <ul class="list" id="answerList">
                <li>
                    <img src="{% wechatAccountHeadImg answerer.headimgurl 46 %}">
                    <div class="answerContent">
                      <h2><a href="#">{{ answerer.nickname }}</a><span>{{ answer.created|timezone:"Asia/Shanghai"|date:'m-d H:i' }}</span></h2>
                      <p>【 {{ answer.answer }} 】{{ answer.description }}</p>
                    </div>
                    <div class="love">
                        <img src="/static/img/love.jpg"/>
                        <p>{{ answer.liked }}</p>
                    </div>
                </li>
            </ul>
          {% endif %}

          {% if myAnswer %}
            <ul class="list" id="answerList">
                <li>
                    <img src="{% wechatAccountHeadImg account.headimgurl 64 %}">
                    <div class="answerContent">
                        <h2><a href="#">{{ account.nickname }}</a><span>{{ myAnswer.created|timezone:"Asia/Shanghai"|date:'m-d H:i' }}</span></h2>
                        <p>【 {{ myAnswer.answer }} 】{{ answer.description }}</p>
                    </div>
                    <div class="love">
                        <img src="/static/img/love.jpg"/>
                        <p>{{ answer.liked }}</p>
                    </div>
                    <p><a class="longButton" href="{% url "Lushu_Mini.views.viewAnswers" quizId %}">{% trans "Checkout what others are recommending." %}</a></p>

                </li>
            </ul>
          {% else %}
            <form method="post" onsubmit="return checkPlace();" action="{% url "Lushu_Mini.views.answerQuiz" %}">
                {% csrf_token %}
                <div id="location">
                    <img src="/static/img/地标1.png"/><div><input type="text" name="place" placeholder="{% trans "Recommend Place" %}" /></div>
                </div>
                <div id="result">
                    <textarea name="reason" placeholder="写下理由"></textarea>
                    <input type="submit" value="分享并查看朋友推荐的地址" />
                </div>
                <input type="hidden" name="quizId" value="{{ quizId }}" />
            </form>

            <script>
              function checkPlace() {
                var place = $("input[name='place']").val().trim();
                if (!place) {
                  alert("{% trans "Pleace recommend a place first." %}");
                  return false;
                }
              }
            </script>
          {% endif %}
        {% endif %}
    </div>
<script>

    {% if toShare %}
        $(document).ready(function() {
            $("#tip").fadeIn();
        });
    {% else %}
        $(function(){
            $("#share").click(function(){
                $("#tip").fadeIn();
            });
        });
    {% endif %}

    wx.ready(function() {
      wx.onMenuShareTimeline({
        title: '{{ question.question }}', // 分享标题
        link: '{{ shareUrl }}', // 分享链接
        imgUrl: '{{ quizImageUrl }}', // 分享图标
        success: function () {
            // 用户确认分享后执行的回调函数
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
      });

      wx.onMenuShareAppMessage({
        title: '{{ question.question }}', // 分享标题
        desc: '{{ question.description }}', // 分享描述
        link: '{{ shareUrl }}', // 分享链接
        imgUrl: '{{ quizImageUrl }}', // 分享图标
        type: 'link', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
            // 用户确认分享后执行的回调函数
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
      });
    });
</script>
{% endblock %}